/* General */
:root {
    --bg-dark: #0E1015;
    --bg-btn: #14171F;
    --txt-white: #e3e4e8;
    --txt-lilac: #918FC2;
    --txt-green: #61D1AC;
    --txt-gray: #A1A4AA;
    --txt-yellow: #ECF589;
    --txt-pink: #EC91D8;
}

* {
    /* respeita as medidas (width, height) definidas */
    box-sizing: border-box; 
}

h1,
h2,
h3,
h4,
p,
a,
ul,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg-dark);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;

    margin: 0 auto;
}

.category-section {
    font-size: 0.75em;
    text-transform: uppercase;
}

.title-section {
    font-size: 2.5em;
    color: var(--txt-white);
    text-align: center;

    margin-bottom: 40px;
}

.subtitle {
    color: var(--txt-gray);
    text-align: center;

    margin-bottom: 40px;
}

.small-p {
    font-size: 0.875em;
}

/* Header */
.header {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--txt-lilac);
    letter-spacing: 2px;
    font-size: 1.25em;
}

.header a {
    color: var(--txt-white);
    font-weight: bold;
    background: var(--bg-btn);
    border-radius: 8px;

    padding: 12px 24px;
}

.header a:hover {
    transition: all .5s;
    background: #1f2430;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 60px 0;
}

.hero h1 {
    font-size: 3.75em;
    color: var(--txt-white);

    padding: 0 100px;
}

@media (max-width: 900px) {
    .hero h1 {
        font-size: 2.5em;

        padding: 0;
    }
}

.hero h1 span {
    color: var(--txt-lilac);
}

.hero p {
    color: var(--txt-gray);

    margin: 40px 0;
}

.hero a {
    background: #FFF;
    color: var(--bg-dark);
    font-weight: 600;
    border-radius: 8px;

    padding: 12px 24px;
    margin-bottom: 40px;
}

.hero a:hover {
    transition: all .5s;
    opacity: .8;
}

.hero h2 {
    color: var(--txt-green);
    letter-spacing: 1px;

    margin-bottom: 40px;
}

.hero img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 240px 0 #21232c;

    margin: 100px 0;
}

/* Features */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    margin: 60px 0;
}

.features h2 {
    color: var(--txt-green);
    text-align: center;
    letter-spacing: 1px;

    margin: 30px 0;
}

.features-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 80px 0;
}

.feature-item {
    max-width: 260px;
    
    margin: 20px 16px;
}

@media (max-width: 600px) {
    .feature-item {
        max-width: 90%;
        
    }
}

.feature-item .icon {
    display: flex;
    justify-content: center;
}

.feature-item h4 {
    flex: 1 1 260px;
    font-size: 1.275em;
    color: var(--txt-white);

    margin: 30px 0;
}

.feature-item p {
    color: var(--txt-gray);
}

/* Descriptions */
.description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 0;
}

.left {
    flex-direction: row-reverse;
}

.description .img {
    max-width: 60%;
    
    margin: 0 20px;
}

.description-text {
    max-width: 40%;

    margin: 0 50px;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .description {
        flex-direction: column;
    }

    .left {
        flex-direction: column !important;
    }

    .description .img {
        max-width: 90%;
    }
    
    .description-text {
        max-width: 90%;
    }
}

.description-text h3 {
    font-size: 2.25em;
    color: var(--txt-white);

    margin-bottom: 20px;
}

.description-text p {
    color: var(--txt-gray);
    line-height: 150%;
}

/* Testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 80px 0;
}

.testimonials .category-section {
    color: var(--txt-yellow);
    text-align: center;
    letter-spacing: 1px;
    
    margin: 30px 0;
}

.testimonials p {
    color: var(--txt-gray);
    text-align: center;
}

.testimonials-items {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 50px 0;
}

.testimonial-item {
    max-width: 370px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    background: var(--bg-btn);
    border-radius: 16px;
    
    padding: 32px;
    margin: 20px;
}

.testimonial-item .depo p {
    color: var(--txt-white) !important;
    font-weight: 500;
    line-height: 150%;
    text-align: start;

    margin-top: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    margin-right: 12px;
}

.info h2 {
    color: var(--txt-white);
    font-size: 0.85em;
}

.info p {
    color: var(--txt-gray);
    line-height: 150%;
}

/* Pricing */
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 80px 0;
}

.pricing h2 {
    color: var(--txt-lilac);
    text-align: center;
    letter-spacing: 1px;

    margin: 30px 0;
}

.pricing-items {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 0;
}

@media (max-width: 1200px) {
    .pricing-items {
        flex-direction: column;
    }
    .pricing-item:nth-child(2) {
        order: -1;
    }
    
    .pricing-item:nth-child(3) {
        order: -1;
    }
}

.pricing-item {
    max-width: 360px;
    background: var(--bg-btn);
    border-radius: 16px;

    padding: 32px;
    margin: 15px;
}

.pricing-item:nth-child(2) {
    background: #21232c;
}

.pricing-item .category {
    color: var(--txt-white);
    font-size: 0.875em;

    margin-bottom: 20px;
}

.pricing-item .name {
    color: var(--txt-white);
    font-size: 2em;

    margin-bottom: 20px;
}

.pricing-item p {
    color: var(--txt-gray);
    border-bottom: .6px solid #a1a4aa11;

    padding-bottom: 30px;
}

.pricing-item ul {
    padding-top: 30px;
}

.pricing-item ul li {
    color: var(--txt-white);
    font-weight: 500;
    line-height: 200%;
}

.pricing-item ul li::before {
    content: url(/assets/img/check.svg);
    display: inline-block;

    margin-right: 10px;
}

.pricing-item .btn {
    background: var(--txt-white);
    width: 100%;
    text-align: center;
    border-radius: 8px;

    padding: 12px 0;
    margin-top: 30px;
}

.pricing-item .btn:hover {
    transition: all .5s;
    opacity: .8;
}

.pricing-item a {
    color: var(--bg-dark);
    font-weight: 600;
}

/* FAQ */
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 80px 20px;
}

.faq h2 {
    color: var(--txt-pink);
    text-align: center;
    letter-spacing: 1px;

    margin: 30px 0;
}

.faq .subtitle span {
    color: var(--txt-white);
    font-weight: 500;
}

.questions {
    max-width: 728px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--txt-white);
    
    margin: 50px 0;
}

.quest-box {
    display: flex;
    justify-content: space-between;
    border-bottom: .8px solid #a1a4aa11;
    cursor: pointer;

    padding: 24px 0;
}

.quest-box ion-icon {
    font-size: 24px;
}

.quest-box:hover h3, .quest-box:hover ion-icon {
    transition: all .5s;
    opacity: .6;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 80px 0;
}

.footer .logo, .links, .socials, .author {
    margin: 20px 0;
}

.links a {
    color: var(--txt-white);
    font-weight: 500;

    margin: 0 10px;
}

.links a:hover,
.author a:hover {
    color: var(--txt-lilac);
}

.socials a {
    color: var(--txt-gray);

    margin: 0 10px;
}

.socials ion-icon {
    font-size: 22px;
}

.author {
    color: var(--txt-gray);
    font-size: 0.875em;
}

.author a {
    color: var(--txt-white);
    font-weight: 500;
}